// footer strat here
.footer.navbar-fixed-bottom
  .copy-right.float-right
    p
      | © 2016 All rights reserved
      a(href='#', target='_blank')   Isenta - Flicker Feeds Challenge
  a#toTop(href='#', style='display: block;')
    span#toTopHover(style='opacity: 1;')  
// footer end here