// Columns are always 50% wide, on mobile and desktop
.row.header-colors
  .col-xs-6.padding-all-10.padding-left-40
    span.font-size-30
      | flickr
  .col-xs-6.padding-all-10.padding-right-40
    form.form-inline(role='form').float-right
      .form-group.has-success.has-feedback
        label.control-label(for='inputSuccess4')
        input#inputSuccess4.form-control(type='text',ng-model="query",ng-change="search()", placeholder='Search',)
        span.glyphicon.glyphicon-search.form-control-feedback

